
/* universal styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* general styling */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* body styling */
body {
    background-color: #d9dcd6;
}

/* adjust class to element header styling */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* adjust h1 styling */
h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* adjust div to nav */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* adjust ul to nav ul */
nav ul {
    list-style-type: none;
}

/* adjust li of the ul */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styling for major background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* add main styling */
main {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

/* change to common class pictures */
.pictures {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* condense img under class pictures */
.pictures img {
    max-height: 200px;
}

/* condense h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* aside styling here */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* change all to brand in the aside element */
.brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* change to common img */
.brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* change to common h3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* change to footer element not class */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* change to footer element header not class */
footer h2 {
    font-size: 20px;
}

